<!DOCTYPE html>
<html>
  <head>
    <title>Emails enviados</title>
    <meta charset="UTF-8">
  </meta>
  <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css"/>
</head>
<body>
  <form action="/mail" method="GET">    
    <button class="btn btn-secondary text-center text-uppercase" type="submit">Regresar</button>
  </form>
  <h1 class = 'text-center title'>Ver correos</h1>
  <div class="card text-center">      
    <div class="card-body">
      <div class="col-auto text-center">
        <div class="row">
          <div class="col">
            <div class="card">
              <div class="card-body">
                <ul class="list-group">
                    {% for email in emails %} 
                        <li class="list-group-item">   
                        <p>      
                        {% for line in email %}
                            {{ line }}
                            <br/>
                        {% endfor %}  
                        </p>    
                        </li>
                    {% endfor %}
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
